<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Insira seus dados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <form [formGroup]="registrationForm">
      <mat-form-field class="formField" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite seu nome" formControlName="name">
      </mat-form-field>

      <mat-form-field class="formField" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Digite seu email" formControlName="email">
      </mat-form-field>

      <mat-form-field class="formField" appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="Digite seu telefone" type="number" formControlName="phone">
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="primary" (click)="save()" [disabled]="!registrationForm.valid">Salvar</button>
        <button mat-stroked-button color="primary" (click)="clear()">Limpar</button>
      </div>
    </form>
  </div>
</ion-content>
